@page
@model Calendar_Tracker.Pages.CalendarModel
@{
    ViewData["Title"] = "Calendar";
}

<form>
    @Html.AntiForgeryToken()

    <div class="text-center">
        <h1>Calendar</h1>
        <b>
            <span id="editableMonth" onclick="cycleMonth(1)" style="cursor: pointer;"></span>
            <span id="editableDay" onclick="makeEditable(this, `26px`, 2, `day`)" style="cursor: pointer;">@DateTime.Now.ToString("MMM d, yyyy")</span>
            <span id="editableYear" onclick="makeEditable(this, `42px`, 4, `year`)" style="cursor: pointer;"></span>
        </b>

        <p></p>

        <div class="table-buttons">
            <div class="l-triangle-btn" id="leftButton" onclick="nextWeek(-7)"></div>
            <div id="table-container">
                <table id="tableBody" style="border: 2px solid black;">
                    <thead>
                        <tr>
                            <th>Sunday</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                        </tr>
                    </thead>
                    <tbody id="weekTable">
                        <tr>
                            @foreach (var day in Model.CurrentWeekDays)
                            {
                                <td>@day</td>
                            }
                        </tr>
                    </tbody>
                    <tbody id="infoTable">
                    </tbody>
                </table>
            </div>
            <div class="r-triangle-btn" id="rightButton" onclick="nextWeek(7)"></div>
        </div>
    </div>
</form>

<p></p>

<div class="center-container">
    <form id="myForm" method="post">
        @Html.AntiForgeryToken()
        <div id="trackersContainer" class="form-container">
            <p>Loading</p>
        </div>

        <!-- Submit button -->
        <div class="text-center">
            <button type="button" id="submitButton">Submit</button>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    var updateDateUrl = '@Url.Page("/Calendar", "UpdateDate")';
    var nextWeekUrl = '@Url.Page("/Calendar", "NextWeek")';
    var LoadTrackersUrl = '@Url.Page("/Calendar", "LoadTrackers")';
    var urlSubmit = '@Url.Page("/Calendar", "Submit")';
    var loadSettingsUrl = '@Url.Page("/Calendar", "LoadSettings")';

    $(document).ready(function () {
        // Handle the button click event
        $("#submitButton").click(function () {
            // Modify checkbox values before submitting
            $('input[type="checkbox"]').each(function () {
                $(this).val($(this).is(':checked').toString());
            });

            // Serialize the form data
            var formData = $("#myForm").serialize();
            // Send an AJAX request to the server
            $.ajax({
                type: "POST",
                url: urlSubmit,
                data: formData,
                success: function (data) {
                    // Handle the success response if needed
                    console.log("Form submitted successfully");
                },
                error: function (error) {
                    // Handle the error response if needed
                    console.error("Error submitting form: " + error.responseText);
                }
            });
        });

        // Handle Ctrl+S keypress event
        $(document).keydown(function (e) {
            if ((e.ctrlKey || e.metaKey) && e.key === 's') {
                // Trigger the click event on the submit button
                $("#submitButton").click();
                // Prevent the default browser save behavior
                e.preventDefault();
            }
        });
    });
</script>
<script src="~/js/calendar.js"></script>
