@page
@model IndexModel
@{
    ViewData["Title"] = "Josh's Calendar Tracker";
}

<!DOCTYPE html>
<html>
<body>

<div class="text-center">
    <h1 class="display-4">Hello Josh!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<!-- <b>"Day Quality: {SliderValue1}""</b> -->

<!-- <p>@ViewData["Message1"]</p> -->

<!-- Create a form to submit the slider value -->
<form method="post">
    <!-- DayQuality -->
    <div>
        <p>Day Quality: <span id="output1">@Model.SliderValue1</span></p>
        <input id="DayQuality" name="DayQuality" type="range" min="0" max="10" value="@Model.SliderValue1" oninput="updateOutput(this.value, 1)">
        <output id="output1" style="width: 30px;">@Model.SliderValue1</output>
        <input type="submit" name="DayQualitySubmit" value="Submit">
    </div>

    <!-- SleepQuality -->
    <div>
        <p>Sleep Quality: <span id="output2">@Model.SliderValue2</span></p>
        <input id="SleepQuality" name="SleepQuality" type="range" min="0" max="10" value="@Model.SliderValue2" oninput="updateOutput(this.value, 2)">
        <output id="output2" style="width: 30px;">@Model.SliderValue2</output>
        <input type="submit" name="SleepQualitySubmit" value="Submit">
    </div>
</form>

<script>
    function updateOutput(sliderValue, sliderNumber) {
        document.getElementById("output" + sliderNumber).innerHTML = sliderValue;
    }
</script>


</body>
</html>