@page
@model IndexModel
@{
    ViewData["Title"] = "Josh's Calendar Tracker";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="text-center">
    <h1>@Model.GreetingValue</h1>
    <b>
        <span>Today is </span>
        <span id="Month">@DateTime.Now.ToString("MMM")</span>
        <span>@DateTime.Now.ToString(" d, yyyy")</span>
    </b>
    <p></p>
</div>

<div class="center-container">
    <form id="myForm" method="post">
        @Html.AntiForgeryToken()
        <div class="form-container">
            <!--  Tracker Text -->
            <div class="text-column">
                @if (Model.Trackers != null && Model.Trackers.Any())
                {
                    for (int i = 0; i <= Model.Trackers.Keys.Max(); i++)
                    {
                        if (Model.Trackers.TryGetValue(i, out var tracker))
                        {
                            <div>
                                <input type="hidden" name="TrackersValues[@i].Id" class="tracker-id" value="@tracker.Id" />
                                <p class="text-column">@tracker.Name</p>
                            </div>
                        }
                    }
                }
                else
                {
                    <p>No trackers found.</p>
                }
            </div>

            <!--  Tracker Components -->
            <div class="components-column">
                @if (Model.Trackers != null && Model.Trackers.Any())
                {
                    for (int i = 0; i <= Model.Trackers.Keys.Max(); i++)
                    {
                        if (Model.Trackers.TryGetValue(i, out var tracker))
                        {
                            var trackerSliderValue = Model.TrackersValues.TryGetValue(i, out var trackerDataSlider) ? trackerDataSlider.SliderValue : null;
                            var trackerCheckboxValue = Model.TrackersValues.TryGetValue(i, out var trackerDataCheckbox) ? trackerDataCheckbox.CheckboxValue : false;
                            var trackerTextValue = Model.TrackersValues.TryGetValue(i, out var trackerDataText) ? trackerDataText.TextValue : string.Empty;
                            var trackerDropdownValue = Model.TrackersValues.TryGetValue(i, out var trackerDataDropdown) ? trackerDataDropdown.DropdownValue : string.Empty;

                            var classvalue = "";
                            if (trackerSliderValue == null)
                            {
                                classvalue = "grayout";
                            }
                            @switch (tracker.Type)
                            {
                                case "Slider":
                                    <div class="components-container">
                                        <input id="@tracker.Name" name="TrackersValues[@i].SliderValue" type="range" min="0" max="10" class="@classvalue" value="@trackerSliderValue">
                                        
                                        <output style="width: 30px;" id="@tracker.Name Output">@trackerSliderValue</output>

                                    </div>
                                    break;

                                case "Checkbox":
                                    <div class="components-container">
                                        <input type="checkbox" id="@tracker.Name" name="TrackersValues[@i].CheckboxValue" checked="@(trackerCheckboxValue ?? false)" />

                                    </div>
                                    break;

                                case "Text":
                                    <div class="components-container">
                                        <input type="text" id="@tracker.Name" name="TrackersValues[@i].TextValue" placeholder="Text" class="tracker-textbox" value="@trackerTextValue" />
                                    </div>
                                    break;

                                case "Dropdown":
                                    <div class="components-container">
                                        <p>Dropdown not implemented yet!</p>

                                       
                                    </div>
                                    break;
                                default:
                                    <p>Tracker type undefined.</p>
                                    break;
                            }
                        }
                    }
                }
                else
                {
                    <p>No trackers found.</p>
                }
            </div>
        </div>

        <!-- Submit button -->
        <div class="text-center">
            <button type="button" id="submitButton">Submit</button>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    var urlSubmit = '@Url.Page("/Index", "Submit")';
    var loadSettingsUrl = '@Url.Page("/Index", "LoadSettings")';

    let months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

    // Setup Month Setting at start
    window.onload = function () {
        getLongMonthNamesSetting();
    }

    $(document).ready(function () {
        // Handle the button click event
        $("#submitButton").click(function () {
            // Modify checkbox values before submitting
            $('input[type="checkbox"]').each(function () {
                if ($(this).is(':checked')) {
                    $(this).val('true');
                } else {
                    // Optionally, set a default value when the checkbox is not checked
                    $(this).val('false');
                }
            });
            
            // Serialize the form data
            var formData = $("#myForm").serialize();

            // Send an AJAX request to the server
            $.ajax({
                type: "POST",
                url: urlSubmit,
                data: formData, 
                success: function (data) {
                    // Handle the success response if needed
                    console.log("Form submitted successfully");
                },
                error: function (error) {
                    // Handle the error response if needed
                    console.error("Error submitting form: " + error.responseText);
                }
            });
        });

        // Attach input event listeners for sliders
        $("input[type='range']").on("input", function () {
            $(this).removeClass("grayout");
            var trackerName = $(this).attr("id"); // Get the trackerName from the slider's ID
            document.getElementById(trackerName + " Output").innerHTML = $(this).val();
        });

        // Handle Ctrl+S keypress event
        $(document).keydown(function (e) {
            if ((e.ctrlKey || e.metaKey) && e.key === 's') {
                // Trigger the click event on the submit button
                $("#submitButton").click();
                // Prevent the default browser save behavior
                e.preventDefault();
            }
        });
    });

    // Function to get the value of LongMonthNames from the XML file
    function getLongMonthNamesSetting() {
        $.ajax({
            type: "POST",
            url: loadSettingsUrl,
            headers: {
                RequestVerificationToken:
                    $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            success: function (data) {
                if (data.success) {
                    // Send Month, Day, Year from c# to updateDate
                    if (data.longMonthNamesValue) {
                        // Replace abbreviated month names with full month names
                        months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                    }
                    // Get the month number (0 to 11)
                    var currentMonth = new Date().getMonth();
                    document.getElementById("Month").innerText = months[currentMonth];
                } else {
                    console.error("Update failed.");
                }
            },
            error: function (error) {
                // Handle errors
                console.error(error);
            }
        });
    }
</script>